body {
  font-family: "Poppins", sans-serif;
  margin: 0%;
}
a {
  text-decoration: none;
  background-color: tomato;
  color: white;
  padding: 10px 40px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.banner-texts h1 {
  border-left: 5px solid tomato;
  font-family: "Yeseva One", cursive;
  font-size: 55px;
  font-weight: lighter;
  padding-left: 15px;
  color: #333333;
}
.banner-texts p {
  margin-bottom: 30px;
  width: 95%;
}
.orange-color {
  color: orange;
}
.banner {
  display: flex;
}
.banner-texts {
  width: 40%;
  padding: 80px 100px 0px 130px;
}
.banner-image {
  width: 45%;
}
.banner-image img {
  width: 70%;
}

.small {
  font-size: 95%;
}
.visions-heading {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}
.vissions-wraper {
  display: flex;
  justify-content: center;
}
.logo-bg {
  width: 23%;
  padding: 15px;
  border-radius: 25px;
  margin: 15px;
}
.logo-bg img {
  width: 120px;
}
.vission {
  background-color: rgba(135, 207, 235, 0.226);
}
.mission {
  background-color: rgba(250, 215, 229, 0.5);
}
.goals {
  background-color: rgba(240, 214, 167, 0.582);
}
.development {
  margin: 30px 20px 30px 110px;
  display: flex;
  justify-content: center;
}
.development-info {
  margin: 15px;
  padding: 10px 30px;
  align-content: center;
}
.development-info h1 {
  font-size: 35px;
  font-weight: bolder;
  padding-top: 0;
}
.development-info p {
  width: 90%;
}
.project {
  display: flex;
  justify-content: center;
  margin-left: 5px;
}
.project-info h1 {
  font-size: 35px;
  font-weight: bolder;
  padding-top: 0;
}
.project-info {
  padding: 30px 30px 30px 0;
  width: 50%;
}
/* .project-info p {
  width: 80%;
  padding-bottom: 20px;
} */
.achivement h1 {
  text-align: center;
  font-size: 40px;
  font-weight: bolder;
}

footer {
  background-color: rgb(7, 7, 7);
  text-align: center;
  margin: 0px;
  padding: 15px;
  color: rgb(199, 222, 252);
}
